# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
series1 = pd.Series(np.random.randint(1, 4, size=100))
series2 = pd.Series(np.random.randint(1, 3, size=100))
series3 = pd.Series(np.random.randint(10000, 30000, size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [7]:
df = pd.concat([series1, series2, series3], axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [10]:
df.columns = ["bedrs", "bathrs", "price_sqr_meter"]
df

    bedrs  bathrs  price_sqr_meter
0       3       1            21897
1       1       1            11317
2       2       1            18858
3       3       2            29110
4       3       1            15709
..    ...     ...              ...
95      2       1            16130
96      3       2            22312
97      3       1            17347
98      3       2            23761
99      2       1            12910

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [18]:
df2 = pd.concat([series1, series2, series3]).to_frame("bigcolumn")
df2

    bigcolumn
0           3
1           1
2           2
3           3
4           3
..        ...
95      16130
96      22312
97      17347
98      23761
99      12910

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [21]:
df2.reset_index(drop=True)

     bigcolumn
0            3
1            1
2            2
3            3
4            3
..         ...
295      16130
296      22312
297      17347
298      23761
299      12910

[300 rows x 1 columns]